.aa{
	
    padding: 32px 10px 32px 24px;
    height: 420px;
    width: 90%;
}
.a1 {
    height: 70%;
    width: 100%;
}
.a2{

    width: 100%;

}
.aa1{
	/*margin-left: 4px;*/
    /*padding: 32px 10px 32px 24px;*/
    height: 420px;
    width: 90%;
    
}